:root {
    --color1: #485260;
    --color2: #5B6677;
    --color3: #27426C;
}

#H1 {
    position: relative;
    left: 20px;
    color: white;
    font-size: 40px;

}

#H2 {
    color: white;
    margin-right: 30px;
    transition: color 0.5s ease-in-out;

}

#H6 {
    color: white;
    margin-right: 30px;
    transition: color 0.5s ease-in-out;

}

#H6:hover {
    color: var(--color2);
}

#H3 {
    font-weight: bold;
    font-size: 55px;
}

#H4 {
    font-weight: bold;
    font-size: 25px;
}

#H5 {
    color: var(--color3);
}


#H2:hover {
    color: var(--color2);
}

#nav-link {
    margin: 100px;
}



body {

    background-color: whitesmoke;


}

.custom-navbar-bg {
    background-color: var(--color1) !important;
    padding: 20px;
}

.point-selector {
    transition: left 0.5s ease-in-out;

}

.point-selector:hover {
    color: black;

}

#block {
    margin-top: 200px;
}

.img-man {
    margin-left: 100px;
    width: 800px;
    height: auto;
}

.icon {
    left: 80px;
    top: 850px;
    ;
    position: fixed;
    width: 70px;
    height: auto;

}

.icon2 {
    left: 180px;
    top: 850px;
    ;
    position: fixed;
    width: 70px;
    height: auto;

}


#dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    white-space: nowrap;

    display: none;
    position: absolute;
    background-color: #5E718C;
    min-width: 120px;
    transition: color 0.5s ease-in-out;


}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 12px 16px;
}

.dropdown-content li a {
    text-decoration: none;
}


#H7 {
    color: var(--color2);
}


.block2 {
    text-align: center;
    margin-top: 40px;
}

#t1-edu {
    color: #27426C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 62.5% */
}

#t2-edu {
    margin-top: -25px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 62.5% */
}

#t3-edu {
    margin-left: 25px;
    margin-top: -45px;
    color: #A6A6A6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 62.5% */
}

#calen {
    margin-top: -62px;
    width: 17px;
    height: 17px;
}

#pos-edu1 {

    margin-left: 130px;

}

#pos-edu2 {

    margin-left: 950px;

}

#pos-edu3 {

    margin-left: 950px;
    top: 00px;

}

#t4-edu {
    margin-top: 15px;
    color: #27426C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 62.5% */
}

#t5-edu {
    margin-top: 0px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 62.5% */
}

#t6-edu {

    margin-top: 0px;
    color: #A6A6A6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 62.5% */
}

#calen2 {
    margin-top: -6px;
    margin-right: 5px;
    width: 17px;
    height: 17px;
}

#pos-edu4 {
    position: static;
    text-align: right;
    margin-left: -70px;


}

.box {
    width: 420px;
    height: 420px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #F7F9FD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#tbox1 {

    text-align: center;
    color: #27426C;;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow:
    -0.2px -0.2px 0 #000, 
    0.2px -0.2px 0 #000,  
    -0.2px 0.2px 0 #000,  
    0.2px 0.2px 0 #000;   
}





#tdbox1 {
    margin: 25px;

    color: #5B6677;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;



}

.block3 {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 50px;

}

.box2 {
    background-color: #F7F9FD;
    width: 1296px;
    height: 650px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.box3 {
    background-color: #F7F9FD;
    width: 1296px;
    height: 350px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

#img-ex {

    width: 250px;
    height: auto;
    margin: 35px;
    position: relative;
}


#img-ex2 {

    width: 150px;
    height: auto;
    margin: 35px;

}

.header2 {
    color: #5B6677;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.box4 {

    background-color: #F7F9FD;
    width: 650px;
    height: 130px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;


}


.img-cn {
    width: 50px;
    height: auto;
    margin: 40px;

}

.p-cn {
    color: var(--color1);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#hiddenObject1 {
    display: none;
    margin: 10px;
}

#toggleButton1 {
    width: 29px;
    height: auto;
    margin-left: 470px;
    transition: transform 0.5s;
    cursor: pointer;
    margin-left: 350px;

}

.pro-t1 {
    color: #485160;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.horizontal-line {
    border-bottom: 1px solid #000;
}

.pro-t2 {
    color: #27426C;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#hiddenObject2 {
    display: none;
    margin: 10px;
}

#toggleButton2 {
    width: 29px;
    height: auto;
    margin-left: 470px;
    transition: transform 0.5s;
    cursor: pointer;
    margin-left: 490px;


}

#toggleButton3 {
    width: 29px;
    height: auto;
    margin-left: 470px;
    transition: transform 0.5s;
    cursor: pointer;
    margin-left: 505px;


}

#hiddenObject3 {
    display: none;
    margin: 10px;
}

.font-p {
    color: #485160;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link01 {
    color: #4851608a;
    margin-left: 180px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.link02 {
    margin-left: 50px;
    text-decoration: none;
    color: #4851608a;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

